<div class="top-main">
  <div class="top-image">
   <h1>初めてのtop画面制作</h1>
  </div>
  <div class="bottom-image">
  <h2 class="self">自己紹介</h2>
  </div>
  <div class="self-introduction">
    <ul>
      <li>私の名前はM.Uです。</li>
      <li>今年で２７歳です。</li>
      <li>何故エンジニアを目指したかと言いますと<br>
      このままスキル無しで歳をとりたくなかったから<br>
      初めてProgateで触れた時楽しいと思ったからです。<br>
      エンジニア転職が甘くないのは十分承知の上ですが頑張ります！！
      </li>
    </ul>
  </div>
  <div class="enthusiasm">
    <p>人生で一番勉強していきます！<br>
    これからプログラミングの事エンジニアの事教えてください！<br>
    よろしくお願いします！！！！！！！
    </p>
  </div>
</div>